label {
  display: table-cell;
  width: 20px;
  white-space: nowrap;
}

span {
  display: table-cell;
  padding: 0 4px 0 6px;
}

input {
  width: 25%;
}
li{
  padding-bottom: 5px;
}
.font-bold {
  font-weight: bold;
}