<div class ="text-center">
  <h4>Transmitancja obiektu:</h4>
  <div class="mt-5">
    <div class="btn-group">
      <input
      mdbRadio
      type="radio"
      class="btn-check"
      name="options-obiekt"
      id="option1-model"
      autocomplete="off"
      [checked]="true"
      (change)="typ='SISO'"
    />
    <label class="btn btn-secondary" for="option1-model" >SISO</label>
    <input
      mdbRadio
      type="radio"
      class="btn-check"
      name="options-obiekt"
      id="option2-model"
      autocomplete="off"
      (change)="typ='MIMO'"
    />
    <label class="btn btn-secondary" for="option2-model" >MIMO</label>
    </div>
  </div>

  <div class="mt-5">
    <input type="file" class="file-upload" onchange="console.log(event.target.files)" *ngIf="typ=='MIMO'">
  </div>
  <div class="mt-5" *ngIf="typ=='SISO'">
    {{pierwszeRownanie}}
  <h5 class="mt-5">Wprowadź wartości transmitancji:</h5>
  <form [formGroup]="obiektForm" >
    <div class="container ml-0 mr-0 mx-auto">
      <div class="form-group mb-3" formArrayName="obiekt">
        <div class="form-row align-items-center" [formGroupName]="0">
          <div class="input-group col">
            <label class="input-group-text"> {{zmienne[0].nazwa}} &nbsp; </label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="k"/>
            <label class="input-group-text">{{zmienne[1].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="z1"/>
            <label class="input-group-text">{{zmienne[2].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="z2"/>
            <label class="input-group-text">{{zmienne[3].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="b1"/>
            <label class="input-group-text">{{zmienne[4].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="b2"/>
            <label class="input-group-text">{{zmienne[5].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="b3"/>
          </div>
          <div class="input-group col-3">
            <label class="input-group-text">{{zmienne[6].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="ts"/>
            <label class="input-group-text">{{zmienne[7].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="opoznienie"/>
            <label class="input-group-text">{{zmienne[8].nazwa}}</label>
            <input class="form-control" type="number" placeholder="1.0" formControlName="szum"/>
          </div>
        </div>      
      </div>
    </div>
  </form>
</div>
</div>