<div>
  <app-naglowek class="mt-5"></app-naglowek>
<form (ngSubmit)="onSubmit()" class="text-center" novalidate>
  <div class="btn-group  mt-5">
    <input
    mdbRadio
    type="radio"
    class="btn-check"
    name="options"
    id="option1"
    autocomplete="off"
    [checked]="true"
    (change)="zakladka='model'"
  />
  <label class="btn btn-secondary" for="option1" >Model</label>
  <input
    mdbRadio
    type="radio"
    class="btn-check"
    name="options"
    id="option2"
    autocomplete="off"
    (change)="zakladka='regulator'"
  />
  <label class="btn btn-secondary" for="option2">Regulator</label>
  <input
    mdbRadio
    type="radio"
    class="btn-check"
    name="options"
    id="option3"
    autocomplete="off"
    (change)="zakladka='wizualizacja'"
  />
  <label class="btn btn-secondary" for="option3">Wizualizacja</label>
  </div>
  <div class="dane">
    <app-obiekt-widok (updateEvent)="updateObiekt($event)" [hidden]="zakladka!=='model'"></app-obiekt-widok>
    <app-regulator-widok (updateEvent)="updateRegulator($event)" [hidden]="zakladka!=='regulator'"></app-regulator-widok>
  </div>

  <div class="text-center" *ngIf="zakladka=='wizualizacja'">
    <h4>Wybierz sposób liczenia błędu</h4>
    <div class="btn-group  mt-5">
      <input
      mdbRadio
      type="radio"
      class="btn-check"
      name="options-wizualizacja"
      id="option1-wizualizacja"
      autocomplete="off"
      [checked]="true"
      (change)="setBlad('srednio')"
    />
    <label class="btn btn-secondary" for="option1-wizualizacja" >Średniokwadratowy</label>
    <input
      mdbRadio
      type="radio"
      class="btn-check"
      name="options-wizualizacja"
      id="option2-wizualizacja"
      autocomplete="off"
      (change)="setBlad('absolutny')"
    />
    <label class="btn btn-secondary" for="option2-wizualizacja">Absolutny</label>
    <input
      mdbRadio
      type="radio"
      class="btn-check"
      name="options-wizualizacja"
      id="option3-wizualizacja"
      autocomplete="off"
      (change)="setBlad('mediana')"
    />
    <label class="btn btn-secondary" for="option3-wizualizacja">Mediana błędu</label>
    
    </div>
    <div class="mt-5">
      <button class="btn btn-success" type="submit">Dobierz Strojenie</button>
    </div>
  </div>
</form>
</div>
<div class="wykres-odp" >
  <div *ngIf="zakladka=='wizualizacja' && liczbaRegulatorow">
    <div *ngIf="odpowiedz">
      <div *ngIf="odpowiedz.typRegulatora=='pid'">
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <p *ngIf="this.strojenie.controls.MIMO.controls['plik'].value!=null">Wartości parametrów regulatora powiązanego do wyjścia nr: {{regulator+1}}</p>
          <p *ngIf="this.strojenie.controls.MIMO.controls['plik'].value==null">Wartości parametrów regulatora</p>

          <p><b>P</b> = {{odpowiedz.wspolczynniki[regulator*3+0]}}</p>
          <p><b>I</b> = {{odpowiedz.wspolczynniki[regulator*3+1]}}</p>
          <p><b>D</b> = {{odpowiedz.wspolczynniki[regulator*3+2]}}</p>
        </div>
      </div>
      <div *ngIf="odpowiedz.typRegulatora=='dmc'">
        <b>Wartoś Lambda:</b>
        <div *gFor="let regulator of liczbaRegulatorow">
        <p> <b>Lambda</b>= {{odpowiedz.wspolczynniki[regulator]}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="odpowiedzMIMO">
      <div *ngIf="odpowiedzMIMO.typRegulatora=='pid'">
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <p *ngIf="this.strojenie.controls.MIMO.controls['plik'].value!=null">Wartości parametrów regulatora powiązanego z wyjściem nr: {{regulator+1}}</p>
          <p *ngIf="this.strojenie.controls.MIMO.controls['plik'].value==null">Wartości parametrów regulatora</p>
  
          <p><b>P</b> = {{odpowiedzMIMO.wspolczynniki[regulator*3+0]}}</p>
          <p><b>I</b> = {{odpowiedzMIMO.wspolczynniki[regulator*3+1]}}</p>
          <p><b>D</b> = {{odpowiedzMIMO.wspolczynniki[regulator*3+2]}}</p>
        </div>
      </div>
      <div *ngIf="odpowiedzMIMO.typRegulatora=='dmc'">
        <b>Wartości Lambda:</b>
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <p><b>Lambda {{regulator+1}}</b> = {{odpowiedzMIMO.wspolczynniki[regulator]}}</p>
        </div>
      </div>
  </div>

  </div>
  <canvas  id='myChart' [hidden]="zakladka!=='wizualizacja'">{{this.myChart}}</canvas>
</div>
