.dane{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100%-15rem);
  padding: 1rem;
}
.wykres-odp{
  width: 60%;
  text-align: center;
  margin: auto;
}
.odp-skokowa-wykres{
  width: 60%;
  text-align: center;
  margin: auto;
}

.title {
  display: block;
}