<div>
  <app-naglowek class="mt-5"></app-naglowek>
  <form (ngSubmit)="onSubmit()" class="text-center" novalidate>
    <div class="btn-group mt-5">
      <input
        (change)="zakladka = 'model'"
        [checked]="true"
        autocomplete="off"
        class="btn-check"
        id="option1"
        mdbRadio
        name="options"
        type="radio"
      />
      <label class="btn btn-secondary" for="option1">Model</label>
      <input
        (change)="zakladka = 'regulator'"
        autocomplete="off"
        class="btn-check"
        id="option2"
        mdbRadio
        name="options"
        type="radio"
      />
      <label class="btn btn-secondary" for="option2">Regulator</label>
      <input
        (change)="zakladka = 'wizualizacja'"
        autocomplete="off"
        class="btn-check"
        id="option3"
        mdbRadio
        name="options"
        type="radio"
      />
      <label class="btn btn-secondary" for="option3">Wizualizacja</label>
    </div>
    <div class="dane">
      <app-obiekt-widok
        (updateEvent)="updateObiekt($event)"
        [hidden]="zakladka !== 'model'"
        [typRegulatora]="this.typRegulatora"
      ></app-obiekt-widok>
      <app-regulator-widok
        (updateEvent)="updateRegulator($event)"
        [hidden]="zakladka !== 'regulator'"
      ></app-regulator-widok>
    </div>

    <div [hidden]="zakladka != 'wizualizacja'">
      <div class="mt-5">
        <div class="btn-group">
          <input
            (change)="zakladkaWizualizacja = 'odpowiedz'"
            [checked]="zakladkaWizualizacja == 'odpowiedz'"
            autocomplete="off"
            class="btn-check"
            id="option2-wizualizacja"
            mdbRadio
            name="options-obiekt"
            type="radio"
          />
          <label class="btn btn-secondary" for="option2-wizualizacja"
          >Odpowiedź skokowa</label
          >
          <input
            (change)="zakladkaWizualizacja = 'przebieg'"
            [checked]="zakladkaWizualizacja == 'przebieg'"
            autocomplete="off"
            class="btn-check"
            id="option1-wizualizacja"
            mdbRadio
            name="options-obiekt"
            type="radio"
          />
          <label class="btn btn-secondary" for="option1-wizualizacja"
          >Parametry wizualizacji</label
          >
          <input
            (change)="zakladkaWizualizacja = 'parametry'"
            [checked]="zakladkaWizualizacja == 'parametry'"
            autocomplete="off"
            class="btn-check"
            id="option3-wizualizacja"
            mdbRadio
            name="options-obiekt"
            type="radio"
          />
          <label class="btn btn-secondary" for="option3-wizualizacja"
          >Parametry strojenia</label
          >
          <input
            (change)="zakladkaWizualizacja = 'zaklocenia'"
            [checked]="zakladkaWizualizacja == 'zaklocenia'"
            autocomplete="off"
            class="btn-check"
            id="option4-zaklocenia"
            mdbRadio
            name="options-obiekt"
            type="radio"
          />
          <label class="btn btn-secondary" for="option4-zaklocenia"
          >Zakłócenia mierzalne</label
          >
        </div>
      </div>
      <div
        [hidden]="
          (this.zakladkaWizualizacja != 'przebieg' &&
            this.zakladkaWizualizacja != 'przebieg') ||
          zakladka != 'wizualizacja'
        "
        class="text-center mt-5 mb-3"
      >
        <b class="title">Wybierz sposób liczenia błędu</b>
        <div class="btn-group mb-3 align-items-center">
          <input
            (change)="setBlad('srednio')"
            [checked]="true"
            autocomplete="off"
            class="btn-check"
            id="option1-blad"
            mdbRadio
            name="options-blad"
            type="radio"
          />
          <label class="btn btn-secondary" for="option1-blad"
          >Średniokwadratowy</label
          >
          <input
            (change)="setBlad('absolutny')"
            autocomplete="off"
            class="btn-check"
            id="option2-blad"
            mdbRadio
            name="options-blad"
            type="radio"
          />
          <label class="btn btn-secondary" for="option2-blad">Absolutny</label>
          <input
            (change)="setBlad('mediana')"
            autocomplete="off"
            class="btn-check"
            id="option3-blad"
            mdbRadio
            name="options-blad"
            type="radio"
          />
          <label class="btn btn-secondary" for="option3-blad"
          >Mediana błędu</label
          >
        </div>
      </div>
      <div
        [hidden]="this.zakladkaWizualizacja != 'zaklocenia'"
        class="zaklocenia"
      >
        <div *ngIf="this.file==null">
          <b>Ustaw proszę liczbę zakłóceń mierzalnych</b>
          <div class="row mx-auto mb-3" style="width: 50%">
            <div class="input-group">
              <label class="input-group-text col-9"
              >Liczba zakłóceń mierzalnych
              </label>
              <select
                (change)="zmienLiczbeZaklocen($event)"
                class="form-control col-1"
              >
                <option
                  *ngFor="let option of optionsZaklocenia"
                  [value]="option"
                >
                  {{option}}
                </option>
              </select>
            </div>
          </div>
          <div *ngIf="this.liczbaZaklocen.length!=0" class="mb-3">
            <h5 class="mt-5">Wprowadź wartości transmitancji:</h5>
            <div *ngFor="let zaklocenie of this.liczbaZaklocen">
              <b>Zakłócenie nr {{zaklocenie + 1}}</b>
              <div class="container ml-0 mr-0 mx-auto">
                <div
                  *ngIf="typRegulatora=='gpc'"
                  class="form-row align-items-center"
                >
                  <div class="input-group col-3">
                    <label class="input-group-text">B1</label>
                    <input
                      (input)="updateZaklocenieRownaniaValue(zaklocenie, 'b1', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">B2</label>
                    <input
                      (input)="updateZaklocenieRownaniaValue(zaklocenie, 'b2', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">B3</label>
                    <input
                      (input)="updateZaklocenieRownaniaValue(zaklocenie, 'b3', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">B4</label>
                    <input
                      (input)="updateZaklocenieRownaniaValue(zaklocenie, 'b4', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">B5</label>
                    <input
                      (input)="updateZaklocenieRownaniaValue(zaklocenie, 'b5', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                  </div>
                </div>
                <div
                  *ngIf="typRegulatora!='gpc'"
                  class="form-row align-items-center"
                >
                  <div class="input-group col">
                    <label class="input-group-text"> Gain &nbsp; </label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'gain', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">R1</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'r1', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">Q1</label>
                    <select
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'q1', $event.target)"
                      class="form-control"
                      placeholder="1"
                    >
                      <option *ngFor="let option of optionsQ" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                    <label class="input-group-text">R2</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'r2', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">Q2</label>
                    <select
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'q2', $event.target)"
                      class="form-control"
                      placeholder="1"
                    >
                      <option *ngFor="let option of optionsQ" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                  </div>
                  <div class="input-group col-3">
                    <label class="input-group-text">T1</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 't1', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">T2</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 't2', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">T3</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 't3', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                    <label class="input-group-text">Delay</label>
                    <input
                      (input)="updateZaklocenieDPAValue(zaklocenie, 'delay', $event.target)"
                      class="form-control"
                      placeholder="1.0"
                      type="number"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.file!=null">
          <h5 class="mt-5">
            Wprowadź plik przedstawiający zakłócenia mierzalne obiektu:
          </h5>
          <span class="p-3">
            {{ strojenie.get('MIMO.plikZaklocen')?.value?.name ? 'Wybrany plik
            to: ' +fileZaklocen!.name : 'Wybierz plik lub go tu przyciągnij i
            upuść ' }}</span
          >
          <input
            #fileInput
            (change)="onFileZaklocenChange($event)"
            class="file-input"
            type="file"
          />
          <div class="container ml-0 mr-0 mt-5 mx-auto">
            <button
              (click)="infoZaklocenie()"
              [disabled]="fileZaklocen==null"
              class="btn btn-secondary"
              type="button"
            >
              Wyślij obiekt
            </button>
          </div>
        </div>
        <div *ngIf="liczbaZaklocen.length!=0">
          <div class="text-center mt-5">
            <b
            >Ustaw proszę na jaką wartość ma być ustawione sterowanie
              zakłócenia:
            </b>
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let zaklocenie of liczbaZaklocen; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Zakłócenie {{ i + 1 }}
                  </label>
                  <input
                    (input)="updateWizualizacjiaZaklocenieValue(zaklocenie, 'uSkok', $event.target)"
                    class="form-control mx-auto d-block text-center"
                    placeholder="0"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <b
            >Ustaw proszę maksymalną wartość zmiany sterowania zakłócenia w
              jednym kroku:
            </b>
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let zaklocenie of liczbaZaklocen; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Zakłócenie {{ i + 1 }}
                  </label>
                  <input
                    (input)="updateWizualizacjiaZaklocenieValue(zaklocenie, 'deltaU', $event.target)"
                    class="form-control mx-auto d-block text-center"
                    placeholder="1"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <b
            >Ustaw proszę krok w którym ma nastąpić skok wartości sterowania
              zakłócenia:
            </b>
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let zaklocenie of liczbaZaklocen; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Zakłócenie {{ i + 1 }}
                  </label>
                  <input
                    (input)="updateWizualizacjiaZaklocenieValue(zaklocenie, 'skokZaklocenia', $event.target)"
                    class="form-control mx-auto d-block text-center"
                    placeholder="0"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <b
            >Ustaw proszę krok w którym ma nastąpić koniec skoku sterowania
              zakłócenia:
            </b>
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let zaklocenie of liczbaZaklocen; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Zakłócenie {{ i + 1 }}
                  </label>
                  <input
                    (input)="updateWizualizacjiaZaklocenieValue(zaklocenie, 'skokPowrotnyZaklocenia', $event.target)"
                    class="form-control mx-auto d-block text-center"
                    placeholder="100"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        [hidden]="this.zakladkaWizualizacja != 'przebieg'"
        class="przebiegClass"
      >
        <div class="text-center mt-5">
          <b>Ustaw proszę wartość początkową wyjść: </b>
          <div *ngIf="yPPTemp">
            <div class="form-row d-flex align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let y of yPPTemp; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Wyjście {{ i + 1 }}
                  </label>
                  <input
                    (ngModelChange)="onYPPChange(i, $event)"
                    [(ngModel)]="yPPTemp[i]"
                    class="form-control mx-auto d-block text-center"
                    name="yPPTemp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <b>Ustaw proszę wartość zadaną wyjść: </b>
          <div *ngIf="yZadTemp">
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let y of yZadTemp; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text mx-auto d-block text-center">
                    Wyjście {{ i + 1 }}
                  </label>
                  <input
                    (ngModelChange)="onYZadChange(i, $event)"
                    [(ngModel)]="yZadTemp[i]"
                    class="form-control mx-auto d-block text-center"
                    name="yZadTemp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <b>Ustaw proszę w którym kroku ustawić wartość zadaną wyjścia: </b>
          <div *ngIf="skokTemp">
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let y of skokTemp; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text d-block text-center">
                    Wyjście {{ i + 1 }}
                  </label>
                  <input
                    (ngModelChange)="onSkokChange(i, $event)"
                    [(ngModel)]="skokTemp[i]"
                    class="form-control d-block text-center"
                    name="skokTemp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <b>Ustaw proszę wartość początkową wejścia:</b>
          <div *ngIf="uPPTemp">
            <div class="form-row align-items-center mb-3">
              <div class="input-group col align-items-center">
                <div
                  *ngFor="let y of uPPTemp; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <label class="input-group-text d-block text-center">
                    Wejście {{ i + 1 }}
                  </label>
                  <input
                    (ngModelChange)="onUPPChange(i, $event)"
                    [(ngModel)]="uPPTemp[i]"
                    class="form-control d-block text-center"
                    name="uPPTemp"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="text-center mt-5 mx-auto"
          style="margin-left: 20%; margin-right: 20%"
        >
          <b>Ustaw proszę długość symulacji: </b>
          <div class="row mx-auto">
            <div class="col-2 mx-auto">
              <label class="input-group-text col-12 d-block text-center">
                Długość
              </label>
              <input
                (ngModelChange)="updateDlugosc($event)"
                [(ngModel)]="dlugoscTemp"
                class="form-control col-12 d-block text-center"
                name="dlugoscTemp"
              />
            </div>
          </div>
        </div>
      </div>
      <div
        [hidden]="this.zakladkaWizualizacja != 'parametry'"
        class="text-center mt-5"
      >
        <b
          *ngIf="
            !this.strojenie.get('MIMO.plik')?.value ||
            typRegulatora == 'dmc' || typRegulatora
          "
        >Ustaw proszę wybrane wartości strojenia regulatora:</b
        >
        <b
          *ngIf="
            this.strojenie.get('MIMO.plik')?.value &&
            this.strojenie.get('parRegulator.typ')?.value == 'pid'
          "
        >Ustaw proszę wybrane wartości strojenia regulatorów:</b
        >
        <div *ngIf="strojenieTemp">
          <div
            *ngIf="
              this.strojenie.get('MIMO.liczbaWyjsc')?.value == 1 &&
              this.strojenie.get('MIMO.liczbaWejsc')?.value == 1
            "
          >
            <div *ngIf="typRegulatora == 'dmc' || typRegulatora == 'gpc'">
              <div
                *ngFor="let y of liczbaWejscArray; let i = index"
                class="mx-auto"
              >
                <div
                  class="form-row align-items-center mb-3"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <div class="input-group col align-items-center">
                    <label class="input-group-text d-block text-center">
                      Lambda
                    </label>
                    <input
                      (ngModelChange)="onStrojenieChange(i, $event)"
                      [(ngModel)]="strojenieTemp[i]"
                      [disabled]="isDisabled(i)"
                      class="form-control d-block text-center"
                      name="strojenieTemp"
                    />
                    <label class="input-group-text d-block text-center">
                      <input
                        (change)="onCheckboxChange(i, $event)"
                        [defaultChecked]="true"
                        type="checkbox"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="this.strojenie.get('parRegulator.typ')?.value == 'pid'">
              <div
                *ngIf="this.strojenie.controls.MIMO.controls.liczbaWyjsc.value"
              >
                <div
                  *ngFor="let y of liczbaWyjscArray; let i = index"
                  class="mx-auto"
                >
                  <div
                    class="form-row align-items-center mb-3"
                    style="margin-left: 20%; margin-right: 20%"
                  >
                    <div class="input-group col align-items-center">
                      <label class="input-group-text d-block text-center">
                        P
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(0, $event)"
                        [(ngModel)]="strojenieTemp[0]"
                        [disabled]="isDisabled(0)"
                        class="form-control d-block text-center"
                        name="strojenieTemp1"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(0, $event)"
                          [checked]="!isDisabled(0)"
                          type="checkbox"
                        />
                      </label>
                      <label class="input-group-text d-block text-center">
                        I
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(1, $event)"
                        [(ngModel)]="strojenieTemp[1]"
                        [disabled]="isDisabled(1)"
                        class="form-control d-block text-center"
                        name="strojenieTemp2"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(1, $event)"
                          [checked]="!isDisabled(1)"
                          type="checkbox"
                        />
                      </label>
                      <label class="input-group-text d-block text-center">
                        D
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(2, $event)"
                        [(ngModel)]="strojenieTemp[2]"
                        [disabled]="isDisabled(2)"
                        class="form-control d-block text-center"
                        name="strojenieTemp3"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(2, $event)"
                          [checked]="!isDisabled(2)"
                          type="checkbox"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            *ngIf="
              this.strojenie.get('MIMO.liczbaWyjsc')?.value != 1 ||
              this.strojenie.get('MIMO.liczbaWejsc')?.value != 1
            "
          >
            <div *ngIf="typRegulatora == 'dmc' || typRegulatora== 'gpc'">
              <div
                *ngFor="let y of liczbaWejscArray; let i = index"
                class="mx-auto"
                style="margin-left: 20%; margin-right: 20%"
              >
                <div class="form-row align-items-center mb-3">
                  <div class="input-group col align-items-center">
                    <label class="input-group-text d-block text-center col-12">
                      Lambda {{ i + 1 }}
                    </label>
                    <input
                      (ngModelChange)="onStrojenieChange(i, $event)"
                      [(ngModel)]="strojenieTemp[i]"
                      [disabled]="isDisabled(i)"
                      class="form-control d-block text-center col-12"
                      name="strojenieTemp{{ i }}"
                    />
                    <label class="input-group-text d-block text-center">
                      <input
                        (change)="onCheckboxChange(i, $event)"
                        [checked]="!isDisabled(i)"
                        type="checkbox"
                      />
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="this.strojenie.get('parRegulator.typ')?.value == 'pid'">
              <div
                *ngIf="this.strojenie.controls.MIMO.controls.liczbaWyjsc.value"
              >
                <div
                  *ngFor="let y of liczbaWyjscArray; let i = index"
                  class="mx-auto"
                  style="margin-left: 20%; margin-right: 20%"
                >
                  <b
                  >Wartości strojenia regulatora podłączonego do wyjścia {{ i
                  + 1 }}</b
                  >
                  <div class="form-row align-items-center mb-3">
                    <div class="input-group col-2 align-items-center">
                      <label class="input-group-text d-block text-center">
                        P
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(i * 3, $event)"
                        [(ngModel)]="strojenieTemp[i * 3]"
                        [disabled]="isDisabled(i * 3)"
                        class="form-control d-block text-center"
                        name="strojenieTemp{{ i * 3 }}"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(i * 3, $event)"
                          [checked]="!isDisabled(i * 3)"
                          type="checkbox"
                        />
                      </label>
                      <label class="input-group-text d-block text-center">
                        I
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(i * 3 + 1, $event)"
                        [(ngModel)]="strojenieTemp[i * 3 + 1]"
                        [disabled]="isDisabled(i * 3 + 1)"
                        class="form-control d-block text-center"
                        name="strojenieTemp{{ i * 3 + 1 }}"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(i * 3 + 1, $event)"
                          [checked]="!isDisabled(i * 3 + 1)"
                          type="checkbox"
                        />
                      </label>
                      <label class="input-group-text d-block text-center">
                        D
                      </label>
                      <input
                        (ngModelChange)="onStrojenieChange(i * 3 + 2, $event)"
                        [(ngModel)]="strojenieTemp[i * 3 + 2]"
                        [disabled]="isDisabled(i * 3 + 2)"
                        class="form-control d-block text-center"
                        name="strojenieTemp{{ i * 3 + 2 }}"
                      />
                      <label class="input-group-text d-block text-center">
                        <input
                          (change)="onCheckboxChange(i * 3 + 2, $event)"
                          [checked]="!isDisabled(i * 3 + 2)"
                          type="checkbox"
                        />
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="form-row align-items-center mb-3 justify-content-center"
          style="margin-left: 20%; margin-right: 20%; display: flex"
        >
          <label class="input-group-text d-block text-center">
            Czy chcesz wybrać inny obiekt symulacji niż regulowany obiekt?
          </label>
          <label class="input-group-text d-block text-center">
            <input
              (change)="obiektSymulacjiInputs()"
              [checked]="czyInnyObiekt"
              type="checkbox"
            />
          </label>
        </div>
        <div
          *ngIf="
          this.file==null
        "
        >
          <div [hidden]="this.typRegulatora=='gpc'">
            <h5 class="mt-5">Wprowadź wartości transmitancji:</h5>
            <div class="container ml-0 mr-0 mx-auto">
              <div [formGroup]="strojenie" class="form-group mb-3">
                <div
                  class="form-row align-items-center"
                  formGroupName="parObiektSymulacjiDPA"
                >
                  <div class="input-group col">
                    <label class="input-group-text"> Gain &nbsp; </label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="gain"
                      type="number"
                    />
                    <label class="input-group-text">R1</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="r1"
                      type="number"
                    />
                    <label class="input-group-text">Q1</label>
                    <select
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="q1"
                    >
                      <option *ngFor="let option of optionsQ" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                    <label class="input-group-text">R2</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="r2"
                      type="number"
                    />
                    <label class="input-group-text">Q2</label>
                    <select
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="q2"
                    >
                      <option *ngFor="let option of optionsQ" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                  </div>
                  <div class="input-group col-3">
                    <label class="input-group-text"
                    >{{ zmienne[5].nazwa }}</label
                    >
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="t1"
                      type="number"
                    />
                    <label class="input-group-text"
                    >{{ zmienne[6].nazwa }}</label
                    >
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="t2"
                      type="number"
                    />
                    <label class="input-group-text"
                    >{{ zmienne[7].nazwa }}</label
                    >
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="t3"
                      type="number"
                    />
                    <label class="input-group-text"
                    >{{ zmienne[8]!.nazwa }}</label
                    >
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="delay"
                      type="number"
                    />
                    <label class="input-group-text"
                    >{{ zmienne[9]!.nazwa }}</label
                    >
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="tp"
                      type="number"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="this.typRegulatora!='gpc'">
            <div class="container ml-0 mr-0 mx-auto">
              <div [formGroup]="strojenie" class="form-group mb-3">
                <div
                  class="form-row align-items-center"
                  formGroupName="parObiektSymulacjiRownania"
                >
                  <div class="input-group col">
                    <label class="input-group-text">A1</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="a1"
                      type="number"
                    />
                    <label class="input-group-text">A2</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="a2"
                      type="number"
                    />
                    <label class="input-group-text">A3</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="a3"
                      type="number"
                    />
                    <label class="input-group-text">A4</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="a4"
                      type="number"
                    />
                    <label class="input-group-text">A5</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="a5"
                      type="number"
                    />
                  </div>
                  <div class="input-group col-3">
                    <label class="input-group-text">B1</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="b1"
                      type="number"
                    />
                    <label class="input-group-text">B2</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="b2"
                      type="number"
                    />
                    <label class="input-group-text">B3</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="b3"
                      type="number"
                    />
                    <label class="input-group-text">B4</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="b4"
                      type="number"
                    />
                    <label class="input-group-text">B5</label>
                    <input
                      [disabled]="czyInnyObiekt"
                      class="form-control"
                      formControlName="b5"
                      type="number"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="this.file!=null">
          <h5 [ngClass]="{'text-muted': !czyInnyObiekt}" class="mt-5">
            Wprowadź plik przedstawiający obiekt symulacji:
          </h5>
          <span [ngClass]="{'text-muted': !czyInnyObiekt}" class="p-3">
            {{ strojenie.get('MIMO.plikWizualizacji')?.value?.name ? 'Wybrany
            plik to: ' +fileWizualizacji!.name : 'Wybierz plik lub go tu
            przyciągnij i upuść ' }}</span
          >
          <input
            #fileInput
            (change)="onFileWizualizacjiChange($event)"
            [disabled]="!czyInnyObiekt"
            class="file-input"
            type="file"
          />
        </div>
      </div>
      <div
        [hidden]="
          this.zakladkaWizualizacja != 'przebieg' &&
          this.zakladkaWizualizacja != 'parametry'
        "
        class="mt-5"
      >
        <button class="btn btn-success" type="submit">Dobierz Strojenie</button>
      </div>
    </div>
  </form>
  <div
    [hidden]="
      this.zakladkaWizualizacja != 'odpowiedz' || zakladka !== 'wizualizacja'
    "
    class="odpowiedz"
  >
    <div class="text-center">
      <b>Wyznacz przebieg odpowiedzi skokowej na model:</b>
      <div
        class="text-center mt-5 mx-auto"
        style="margin-left: 20%; margin-right: 20%"
      >
        <b>Ustaw proszę długość przebiegu: </b>
        <div class="row mx-auto">
          <div class="col-2 mx-auto">
            <label class="input-group-text col-12 d-block text-center">
              Długość
            </label>
            <input
              (ngModelChange)="updateDlugosc($event)"
              [(ngModel)]="dlugoscTemp"
              class="form-control col-12 d-block text-center"
              name="dlugoscTemp"
            />
          </div>
        </div>
      </div>
      <div class="mt-5">
        <button (click)="WyznaczOdpowiedz()" class="btn btn-success">
          Wyznacz odpowiedź skokową
        </button>
      </div>
      <div class="odp-skokowa-wykres">
        <canvas
          [hidden]="
            zakladka !== 'wizualizacja' ||
            zakladkaWizualizacja != 'odpowiedz' ||
            czyLaduje
          "
          id="odpSkokowaChart"
        >{{ this.odpSkokowaChart }}</canvas
        >
      </div>
    </div>
  </div>
  <div
    *ngIf="odpowiedz"
    [hidden]="
      (this.zakladkaWizualizacja != 'parametry' &&
        this.zakladkaWizualizacja != 'przebieg') ||
      zakladka != 'wizualizacja'
    "
    class="wykres-odp"
  >
    <div *ngIf="liczbaRegulatorow">
      <div *ngIf="odpowiedz.typRegulatora == 'pid'">
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <b>Wartości parametrów regulatora</b>

          <p><b>P</b> = {{ odpowiedz.wspolczynniki[regulator * 3 + 0] }}</p>
          <p><b>I</b> = {{ odpowiedz.wspolczynniki[regulator * 3 + 1] }}</p>
          <p><b>D</b> = {{ odpowiedz.wspolczynniki[regulator * 3 + 2] }}</p>
        </div>
      </div>
      <div
        *ngIf="odpowiedz.typRegulatora == 'dmc' || odpowiedz.typRegulatora == 'gpc'"
      >
        <b>Wartość Lambda:</b>
        <div *ngFor="let regulator of liczbaRegulatorow">
          <p><b>Lambda</b>= {{ odpowiedz.wspolczynniki[regulator] }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="wykres-odp">
    <div *ngIf="odpowiedzMIMO">
      <div *ngIf="odpowiedzMIMO.typRegulatora == 'pid'">
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <b
          >Wartości parametrów regulatora podłączonego do wyjścia {{ regulator
          + 1 }}</b
          >

          <p><b>P</b> = {{ odpowiedzMIMO.wspolczynniki[regulator * 3 + 0] }}</p>
          <p><b>I</b> = {{ odpowiedzMIMO.wspolczynniki[regulator * 3 + 1] }}</p>
          <p><b>D</b> = {{ odpowiedzMIMO.wspolczynniki[regulator * 3 + 2] }}</p>
        </div>
      </div>
      <div
        *ngIf="odpowiedzMIMO.typRegulatora == 'dmc' || odpowiedzMIMO.typRegulatora == 'gpc'"
      >
        <b>Wartości Lambda:</b>
        <div *ngFor="let regulator of this.liczbaRegulatorow">
          <p>
            <b>Lambda {{ regulator + 1 }}</b> = {{
            odpowiedzMIMO.wspolczynniki[regulator] }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    [hidden]="
      zakladka != 'wizualizacja' ||
      (zakladkaWizualizacja != 'przebieg' &&
        zakladkaWizualizacja != 'parametry') ||
      czyLaduje
    "
    class="text-center mt-5 mx-auto"
  >
    <div style="margin-left: 20%; margin-right: 20%">
      <b *ngIf="odpowiedz">Przebieg symulacji regulowanego obiektu</b>
      <canvas id="myChart">{{ this.myChart }}</canvas>
      <canvas id="sterowanieChart">{{ this.sterowanieChart }}</canvas>
    </div>
  </div>
</div>
