<div class="text-center">
  <form [formGroup]="regulatorForm">
    <div class="container m2-5 mx-auto">
      <div class="form-group mb-3" formArrayName="regulator">
      <div class="form-row align-items-center" [formGroupName]="0">
          <h4>Wybierz Regulator:</h4>
          <select formControlName="typ">
            <option value="pid" selected>PID</option>
            <option value="dmc">DMC</option>
            <option value="gpc">GPC</option>
          </select>   
          <div class="input-group col mt-3">
            <label class="input-group-text col-1"> U Min </label>
            <input class="form-control col-2" type="number" placeholder="0.0" formControlName="uMin"/>
            <label class="input-group-text col-1"> U Max </label>
            <input class="form-control col-2" type="number" placeholder="100.0" formControlName="uMax"/>
            <label class="input-group-text col-1">dU Max</label>
            <input class="form-control col-2" type="number" placeholder="1.0" formControlName="duMax"/>
          </div>
        </div>      
      </div>
    </div>
  </form>
</div>
