<div class="text-center">
  <form [formGroup]="regulatorForm">
    <div class="container m2-5 mx-auto">
      <div class="form-group mb-3" formArrayName="regulator">
        <div [formGroupName]="0" class="form-row align-items-center">
          <h4>Wybierz Regulator:</h4>
          <select formControlName="typ">
            <option selected value="pid">PID</option>
            <option value="dmc">DMC</option>
            <option value="gpc">GPC</option>
          </select>
          <div class="input-group col mt-3">
            <label class="input-group-text col-1"> U Min </label>
            <input
              class="form-control col-2"
              formControlName="uMin"
              placeholder="0.0"
              type="number"
            />
            <label class="input-group-text col-1"> U Max </label>
            <input
              class="form-control col-2"
              formControlName="uMax"
              placeholder="100.0"
              type="number"
            />
            <label class="input-group-text col-1">dU Max</label>
            <input
              class="form-control col-2"
              formControlName="duMax"
              placeholder="1.0"
              type="number"
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
